@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}

.login-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #90acec;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  border-width: 2px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  padding: 10px 20px;
}

.login-container h1 {
  font-family: var(--font-family-semibold);
  text-align: center;
  font-size: 30px;
}

.login-form {
  width: 100%;
}

.login-form label {
  font-family: var(--font-family-medium);
  font-size: 20px;
}

.input-field {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: var(--font-family-medium);
  outline: none;
}

.input-field:focus {
  border-color: var(--input-focus-border-color);
  box-shadow: 0 0 5px var(--input-focus-box-shadow);
}

.login-submit {
  font-family: "MonserratMedium", sans-serif;
  background-color: #a3e636;
  height: 50px;
  /* justify-content: space-around; */
  align-self: end;
  width: 100%;
}
