@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}

.auth-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #90acec;
  width: 500px;
  border-radius: 5px;
  border-width: 2px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  padding: 10px 20px;
}

.auth-container h1 {
  font-family: "MontserratSemiBold";
  text-align: center;
  font-size: 30px;
}

.auth-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.auth-form-group {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  gap: 10px;
  /* justify-content: space-between; */
}

.auth-form-subgroup {
  width: 100%;
}
.auth-form label {
  font-family: "MonserratMedium", sans-serif;
  font-size: 20px;
}

.auth-input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  font-family: "MonserratMedium", sans-serif;
  outline: none;
}
.auth-input:focus {
  border-color: black;
  font-family: "MonserratMedium", sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.auth-input.invalid,
.auth-select.invalid {
  box-shadow: 0 0 7px 1px red;
}

.auth-select {
  outline: none;
  font-family: "MonserratMedium", sans-serif;
  appearance: none;
  background-color: white;
  background-image: url("../icons/down.png");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust to position the arrow */
  background-size: 20px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 8px 12px;
  width: 100%;
  font-size: 16px;
  height: 40px;
}

.error-message {
  display: block;
  font-family: "MontserratMedium";
  font-size: 12px;
  color: red;
}

.auth-submit {
  font-family: "MontserratSemiBold", sans-serif;
  background-color: #1064c4;
  color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  height: 50px;
  /* justify-content: space-around; */
  align-self: end;
  width: 100%;
}

.auth-submit:active {
  transform: translateX(4px) translateY(4px);
  border: 2px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

.register-login {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.register-login a {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 600;
  color: white;
}

.display-none {
  display: none;
}

@media only screen and (max-width: 520px) {
  .auth-container {
    width: 95%;
    min-width: 360px;
  }
}
