@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SSP-Light";
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SSP-SemiBold";
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SSP-Regular";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
}

navbar {
  display: flex;
  background-color: lightblue;
}
navbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: lightcoral;
  padding: 10px 5px;
}
navbar button img {
  width: 30px;
}

navbar button h1 {
  font-family: "SSP-SemiBold", sans-serif;
}
