@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

body {
  margin: 0;
}

.export-button {
  width: 100%;
  margin-bottom: 20px;
}

.content-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.table-wrapper {
  max-height: 85vh;
  max-width: 800px;
  margin: 0 auto;
  width: auto;
  overflow-y: auto;
}

.detail-table-head {
  display: table; 
  width: 100%;
  position: sticky; 
  top: 0; 
  z-index: 1; 
  background-color: #1064c4; 
}

.table-body-wrapper {
  max-height: 300px; 
  overflow-y: auto; 
}

.detail-table-body {
  display: table; 
  width: 100%; 
}

.table-body-wrapper {
  max-height: 300px; 
  overflow-y: auto; 
}

.detail-container {
  background-color: #90acec;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  padding: 10px;
  border-collapse: collapse;
  table-layout: fixed;
}

.detail-table-head th,
.detail-table-row td {
  padding: 10px;
  text-align: center;
  font-family: "MontserratMedium", sans-serif;
  width: 33%;
}

.detail-table-head th {
  font-family: "MontserratSemiBold", sans-serif;
  background-color: #1064c4;
  color: white;
}

.detail-action {
  background-color: #1064c4;
  color: white;
  font-family: "MontserratSemiBold", sans-serif;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  text-align: center;
  display: inline-block;
}

.detail-action:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

@media (max-width: 600px) {
  .table-wrapper {
    padding: 0;
    width: 90%;
  }

  .detail-container {
    width: 100%;
    padding: 0;
  }

  .export-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .detail-table-head tr th,
  .detail-table-row td {
    padding: 8px;
    font-size: 14px;
  }

  .detail-action {
    padding: 8px;
    font-size: 14px;
  }
}
